<html>
	<form method="post" action="http://127.0.0.1:5000/eventos-insert">
		fecha
		<input type="text" name="fecha">
		Actividad
		<input type="text" name="actividad_id">
		Prioridad
		<input type="text" name="prioridad">
        Turno
        <input type="text" name="turno_id">
        Duración en minutos.
        <input type="text" name="duracion">
        Actividad Personalizada
        <input type="text" name="actividad_personalizada">
        
		<input type="submit" value="Enviar">
	</form>
</html>